[Desktop Entry]
Name=Cherry Doom
Exec=cherry-doom
Icon=nugget-doom
Type=Application
Comment=Cherry Doom is a fork of Nugget Doom with a few additions.
Categories=Game;ActionGame;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;woof;
