[Desktop Entry]
Name=Cherry Doom Setup
Exec=cherry-doom-setup
Icon=nugget-doom-setup
Type=Application
Comment=Setup tool for Cherry Doom
Categories=Settings;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;woof;
