[Desktop Entry]
Name=Nugget Doom Setup
Exec=nugget-doom-setup
Icon=nugget-doom-setup
Type=Application
Comment=Setup tool for Nugget Doom
Categories=Settings;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;woof;
